Source: vx-ubiquity
Section: utils
Priority: extra
Maintainer: Alberto Gacías <agacias@zaragoza.es>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: 

Package: vx-ubiquity
Architecture: all
Pre-Depends: vx-divert
Depends: ubiquity, ubiquity-slideshow  
Description: Ubiquity customization
 Vitalinux ubiquity customization